/* begin Box, Sheet */
.tri-Sheet-tl
{
	clip: rect(auto 35px 35px auto);
}

.tri-Sheet-tr
{
	clip: rect(auto auto 35px 35px);
}

.tri-Sheet-bl
{
	clip: rect(35px 35px auto auto);
}

.tri-Sheet-br
{
	clip: rect(35px auto auto 35px);
}

.tri-Sheet-tc
{
	clip: rect(auto auto 35px auto);
}

.tri-Sheet-bc
{
	clip: rect(35px auto auto auto);
}

.tri-Sheet-cr
{
	clip: rect(auto auto auto 35px);
}

.tri-Sheet-cl
{
	clip: rect(auto 35px auto auto);
}

.tri-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.tri-nav .r
{
	clip: rect(auto auto auto 975px);
}
/* end Menu */

/* begin MenuItem */
.tri-menu a .r
{
	clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin Box, Block */
.tri-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.tri-Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.tri-Block-bl
{
	clip: rect(7px 7px auto auto);
}

.tri-Block-br
{
	clip: rect(7px auto auto 7px);
}

.tri-Block-tc
{
	clip: rect(auto auto 7px auto);
}

.tri-Block-bc
{
	clip: rect(7px auto auto auto);
}

.tri-Block-cr
{
	clip: rect(auto auto auto 7px);
}

.tri-Block-cl
{
	clip: rect(auto 7px auto auto);
}

.tri-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.tri-BlockHeader .r
{
	clip: rect(auto auto auto 984px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.tri-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.tri-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.tri-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.tri-button-wrapper .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

