/*
Theme Name: WaterDrop
Description: WaterDrop, TribecaSys-generated Drupal theme.
Version: 1.0
Author: TribecaSys
Author URI: http://TribecaSys.com/
*/

/* begin Page */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #FCFDFD;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: top left;
}

#tri-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}



#tri-page-background-gradient
{
	position: absolute;
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 378px;
	
}

#tri-page-background-gradient
{
	background-position: top left;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}


/* Image Assis module support */
body.img_assist
{
  background-color: #FCFDFD !important;
}
/* end Page */

/* begin Box, Sheet */
.tri-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:51px;
	min-height:51px;
}

.tri-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 5px;
}

.tri-Sheet-tr, .tri-Sheet-tl, .tri-Sheet-br, .tri-Sheet-bl, .tri-Sheet-tc, .tri-Sheet-bc,.tri-Sheet-cr, .tri-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.tri-Sheet-tr, .tri-Sheet-tl, .tri-Sheet-br, .tri-Sheet-bl
{
	width: 70px;
	height: 70px;
	background-image: url('images/Sheet-s.png');
}

.tri-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 35px, 35px, auto);
}

.tri-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 35px, 35px);
}

.tri-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(35px, 35px, auto, auto);
}

.tri-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(35px, auto, auto, 35px);
}

.tri-Sheet-tc, .tri-Sheet-bc
{
	left: 35px;
	right: 35px;
	height: 70px;
	background-image: url('images/Sheet-h.png');
}

.tri-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 35px, auto);
}

.tri-Sheet-bc
{
	bottom: 0;
	clip: rect(35px, auto, auto, auto);
}

.tri-Sheet-cr, .tri-Sheet-cl
{
	top: 35px;
	bottom: 35px;
	width: 70px;
	background-image: url('images/Sheet-v.png');
}

.tri-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 35px);
}

.tri-Sheet-cl
{
	left:0;
	clip: rect(auto, 35px, auto, auto);
}

.tri-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 35px;
	left: 35px;
	right: 35px;
	bottom: 35px;
	background-color: #FCFDFD;
}


.tri-Sheet
{
	margin-top: 0px !important;
}

#tri-page-background-simple-gradient, #tri-page-background-gradient, #tri-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.tri-menu a, .tri-menu a:link, .tri-menu a:visited, .tri-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.tri-menu, .tri-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.tri-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.tri-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.tri-menu li li
{
	float: none;
}

.tri-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.tri-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.tri-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.tri-menu:after, .tri-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.tri-menu, .tri-menu ul
{
	min-height: 0;
}

.tri-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.tri-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





/* menu structure */

.tri-menu
{
	padding: 0px 15px 0px 15px;
}

.tri-nav
{
	position: relative;
	height: 23px;
	z-index: 100;
}

.tri-nav .l, .tri-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 23px;
	background-image: url('images/nav.png');
}

.tri-nav .l
{
	left: 0;
	right:15px;
}

.tri-nav .r
{
	right: 0;
	width: 990px;
	clip: rect(auto, auto, auto, 975px);
}


/* end Menu */

/* begin MenuItem */
.tri-menu ul li
{
	clear: both;
}

.tri-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 23px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}


.tri-menu a .r, .tri-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 69px;
	background-image: url('images/MenuItem.png');
}

.tri-menu a .l
{
	left:0;
	right:0px;
}

.tri-menu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.tri-menu a .t 
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
	color: #B6D9EC;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 23px;
	text-align: center;
}

.tri-menu a:hover .l, .tri-menu a:hover .r
{
	top:-23px;
}

.tri-menu li:hover>a .l, .tri-menu li:hover>a .r
{
	top:-23px;
}

.tri-menu li:hover a .l, .tri-menu li:hover a .r
{
	top:-23px;
}
.tri-menu a:hover .t
{
	color: #151E23;
}

.tri-menu li:hover a .t
{
	color: #151E23;
}

.tri-menu li:hover>a .t
{
	color: #151E23;
}



/* end MenuItem */

/* begin MenuSeparator */
.tri-nav .tri-menu-separator
{
	display: block;
	width: 1px;
	height: 23px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.tri-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #328DBD;
}

.tri-nav ul.tri-menu ul span, .tri-nav ul.tri-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.tri-menu ul a, .tri-menu ul a:link, .tri-menu ul a:visited, .tri-menu ul a:hover, .tri-menu ul a:active, .tri-nav ul.tri-menu ul span, .tri-nav ul.tri-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #163F55;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
letter-spacing: 1px;
}

.tri-menu ul ul a
{
	margin-left: auto;
}

.tri-menu ul li a:hover
{
	color: #EDF4F7;
	border-color: #328DBD;
	background-position: 0 -20px;
}

.tri-menu ul li:hover>a
{
	color: #EDF4F7;
	border-color: #328DBD;
	background-position: 0 -20px;
}

.tri-nav .tri-menu ul li a:hover span, .tri-nav .tri-menu ul li a:hover span span
{
	color: #EDF4F7;
}

.tri-nav .tri-menu ul li:hover>a span, .tri-nav .tri-menu ul li:hover>a span span
{
	color: #EDF4F7;
}


/* end MenuSubItem */

/* begin Header */
div.tri-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 990px;
	height: 300px;
}


div.tri-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 990px;
	height: 300px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.tri-Logo
{
	position: relative;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1.tri-Logo-name
{
	display: block;
	text-align: left;
}

h1.tri-Logo-name, h1.tri-Logo-name a, h1.tri-Logo-name a:link, h1.tri-Logo-name a:visited, h1.tri-Logo-name a:hover
{
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 36px;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #039 !important;
}

.tri-Logo-text
{
	display: block;
	text-align: left;
}

.tri-Logo-text, .tri-Logo-text a
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 24px;
font-style: normal;
font-weight: normal;
	padding:0;
	margin:0;
	color: #AAD3E9 !important;
}


div.tri-Logo-image
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
width: 960px;
text-align: left;	
}

/* end Logo */

/* begin ContentLayout */
.tri-contentLayout
{
	position: relative;
	margin-bottom: 5px;
	width: 990px;
}
/* end ContentLayout */

/* begin Box, Block */
.tri-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.tri-Block-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

.tri-Block-tr, .tri-Block-tl, .tri-Block-br, .tri-Block-bl, .tri-Block-tc, .tri-Block-bc,.tri-Block-cr, .tri-Block-cl
{
	position:absolute;
	z-index:-1;
}

.tri-Block-tr, .tri-Block-tl, .tri-Block-br, .tri-Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/Block-s.png');
}

.tri-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.tri-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.tri-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.tri-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.tri-Block-tc, .tri-Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/Block-h.png');
}

.tri-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.tri-Block-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.tri-Block-cr, .tri-Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/Block-v.png');
}

.tri-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.tri-Block-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.tri-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #E2EAEE;
}


.tri-Block
{
	margin: 7px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.tri-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.tri-BlockHeader .t
{
	height: 30px;
	color: #000000;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}

.tri-BlockHeader .l, .tri-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.tri-BlockHeader .l
{
	left:0;
	right:6px;
}

.tri-BlockHeader .r
{ 
	width:990px;
	right:0;
	clip: rect(auto, auto, auto, 984px);
}





.tri-header-tag-icon
{
    height: 30px;
	background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 12px;
	background-repeat: no-repeat;
	min-height: 12px;
	margin: 0 0 0 5px;
}




.tri-BlockHeader .t h2.subject
{
	height: 30px;
	color: #000000;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.tri-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.tri-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 8px;
}



.tri-BlockContent-body
{
	color:#567B8F;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.tri-BlockContent-body a:link
{
	color: #2C7BA5;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.tri-BlockContent-body a:visited, .tri-BlockContent-body a.visited
{
	color: #668EA3;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.tri-BlockContent-body a:hover, .tri-BlockContent-body a.hover
{
	color: #09BDDC;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}

.tri-BlockContent-body ul
{
	list-style-type: none;
	color: #436070;
	margin:0;
	padding:0;
}

.tri-BlockContent-body ul li
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
line-height: 125%;
  line-height: 1.25em;
  padding: 0px 0 0px 13px;
  background-image: url('images/BlockContentBullets.png');
  background-repeat: no-repeat;
}



.tri-BlockContent-body .calendar-calendar td a:visited, .tri-BlockContent-body .calendar-calendar td a.visited
{
	color: #2C7BA5;
}

.tri-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.tri-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.tri-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.tri-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.tri-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.tri-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.tri-Post-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}



.tri-Post
{
	margin: 7px;
}

/* Sttri images */
a img
{
	border: 0;
}

.tri-triicle img, img.tri-triicle
{
	border: solid 1px #A9BFCB;
	margin: 1em;
}

.tri-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Sttri tables */

.tri-triicle table, table.tri-triicle
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.tri-triicle table, table.tri-triicle .tri-triicle tr, .tri-triicle th, .tri-triicle td
{
	background-color:Transparent;
}


.tri-triicle th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}



fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: {TableBorderStyle} 0px {TableBorderColor};
	width: 95%;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.tri-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: left;
	color: #226081;
}

.tri-PostHeader a, .tri-PostHeader a:link, .tri-PostHeader a:visited, .tri-PostHeader a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: left;
	margin:0;
	color: #226081;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.tri-PostHeader a:link
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #2A759D;
}

.tri-PostHeader a:visited, .tri-PostHeader a.visited
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #4B6B7C;
}

.tri-PostHeader a:hover, .tri-PostHeader a.hovered
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #09BDDC;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #3D5866;
}


.tri-PostContent p 
{
	margin: 0.5em 0;
}

.tri-PostContent, .tri-PostContent p
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #3D5866;
}

.tri-PostContent
{
  margin:0;
}


/* Sttri Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
  color: #318AB9;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
  color: #318AB9;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #587E93;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #09BDDC;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Sttri Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 30px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #246689;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 28px;
text-align: left;
  color: #318AB9;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 24px;
text-align: left;
  color: #4683A4;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 22px;
text-align: left;
  color: #4E7083;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 18px;
text-align: left;
  color: #4E7083;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
font-size: 16px;
text-align: left;
  color: #4E7083;
}
/* Finish Content headings Fonts & Colors  */


/* Image Assis module support */
body.img_assist
{
  color: #3D5866;
}

.tri-PostContent .calendar-calendar ul li, .tri-PostContent .calendar-calendar ol ul li,
.tri-PostContent div.view div.views-admin-links ul li, .tri-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.tri-PostContent ul.tritabs_primary li, .tri-PostContent ul.tritabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}

/* end PostContent */

/* begin PostBullets */
/* Sttri Content list */
ol, ul
{
	color: #091820;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.tri-Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.tri-Post ol li, .tri-Post ul ol li
{
	background: none;
	padding-left:0;
}

.tri-Post ul li, .tri-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Sttri blockquote */
blockquote,
blockquote p,
.tri-PostContent blockquote p
{
	color:#0B1013;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
text-align: left;
}

blockquote,
.tri-PostContent blockquote
{
		border:solid 1px #A9BFCB; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#D2DEE4;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */


blockquote, .tri-PostContent blockquote
{
	margin:10px 10px 10px 50px !important;
	padding:5px 5px 5px 41px !important;
}

/* end PostQuote */

/* begin Button */
.tri-button-wrapper .tri-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:33px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
	vertical-align: middle;
}

.tri-button img, .tri-button-wrapper img
{
  margin: 0;
}

.tri-button-wrapper
{
	display:inline-block;
	vertical-align: middle;
	position:relative;
	height: 33px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .tri-button-wrapper
{
	display:block;
	float:left;
}

.tri-button-wrapper .tri-button
{
	display:block;
	height: 33px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 21px !important;
	line-height: 33px;
	text-decoration: none !important;
	color: #000000 !important;
}

input, select
{
  vertical-align: middle;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
}

.tri-button-wrapper.hover .tri-button, .tri-button:hover
{
	color: #000000 !important;
	text-decoration: none !important;
}

.tri-button-wrapper.active .tri-button
{
	color: #EDF4F7 !important;
}

.tri-button-wrapper .l, .tri-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 99px;
	background-image: url('images/Button.png');
}

.tri-button-wrapper .l
{
	left:0;
	right:10px;
}

.tri-button-wrapper .r
{
	width:409px;
	right:0;
	clip: rect(auto, auto, auto, 399px);
}

.tri-button-wrapper.hover .l, .tri-button-wrapper.hover .r
{
	top: -33px;
}

.tri-button-wrapper.active .l, .tri-button-wrapper.active .r
{
	top: -66px;
}


/* end Button */

/* begin Footer */
.tri-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 990px;
	margin: 5px auto 0px auto;
}

.tri-Footer .tri-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.tri-Footer .tri-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 990px;
	height: 150px;
	bottom:0;
	left:0;
}


.tri-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
    cursor: default;
}




.tri-Footer .tri-Footer-text p
{
	margin: 0;
}

.tri-Footer .tri-Footer-text
{
	display:inline-block;
	color:#80A1B3;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 13px;
}

.tri-Footer .tri-Footer-text a:link
{
	text-decoration: none;
	color: #86C0DF;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.tri-Footer .tri-Footer-text a:visited
{
	text-decoration: none;
	color: #9FB8C6;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.tri-Footer .tri-Footer-text a:hover
{
	text-decoration: none;
	color: #09BDDC;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.tri-page-footer, .tri-page-footer a, .tri-page-footer a:link, .tri-page-footer a:visited, .tri-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#429CCD;
}

.tri-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#6990A5;
}
/* end PageFooter */

/* begin LayoutCell */
.tri-contentLayout .tri-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 692px;
}
.tri-contentLayout .tri-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 988px;
}
/* end LayoutCell */

/* begin LayoutCell */
.tri-contentLayout .tri-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 296px;
}
/* end LayoutCell */



/*
** HTML elements
*/

body.tri-body-nostyle
{
	background: none;
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;	
}

.tritabs_primary, .tritabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.tritabs_primary li, ul.tritabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.tritabs_primary li a, ul.tritabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

ul.menu li a.active
{
	font-weight: bold;
}

li.messages
{
	margin: 5px 0;
}

#comment-form textarea, #comment-form input
{
	display: block;
	width: 95%;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

.sticky-table
{
	width: 100%;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.tri-Footer .tri-Footer-inner
{
	float: left;
	width: 100%;
}

.tri-BlockContent
{
	width: 100% !important;	
}

/* Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}

/* ImageField module fix */
img.imagefield
{
	margin: 0;
}

.filefield-upload .tri-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

/* Support User picture */
.picture, .comment .submitted
{
	clear:right;
	float:right;
	padding-left:1em;
}

.profile h3
{
	border-bottom:0 none;
	margin-bottom:1em;
}

/* Support Nodeblock module */
.tri-Block-body .tri-PostHeader
{
	display: none;
}

.tri-Block-body .tri-Post
{
	margin: 0;
}

/* Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
